<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
  </head>
  <body>
    
    <h1> "Este es el documeto Usuarios.html"</h1>
    <form action="/suma2" method="POST">
      <label>N1: </label>
      <input type="text" name="num1"/><br></br>
      <label>N2: </label>
      <input type="text" name="num2"/><br></br>
      <input type="submit" value="calcular"/>
    </form>

  </body>
</html>